# Node.js dependencies
/node_modules


# Output of 'npm test'
/coverage

# Editor files
/.vscode
/.idea
*.sublime-workspace

# Environment files
.env

# Log files
*.log

# Miscellaneous
.DS_Store
Thumbs.db


_site/